.App {
  background-color: #525659;
  min-height: 100vh;
}

label {
  color: #00FF41;
  font-weight: 500;
  font-size: 2em;
}

#left-pane {
  
}

#right-pane {
  
}

blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

code {
  background-color: gainsboro;
}

#editor {
  max-width: auto;
  max-height: 90vh;
  overflow-y: auto;

  background-color: #020204;
  color: #008F11;
  border: none;
}

#preview {
  max-width: auto;
  overflow-y: auto;
  max-height: 90vh;

  background-color: #020204;
  color: #008F11;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020204; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00FF41; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008F11; 
  cursor: default;
}